# Entorno virtual
entorno/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
media/

# Variables de entorno
.env

# Archivos estáticos generados
staticfiles/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

__pycache__/
*.pyc
.env
db.sqlite3
/staticfiles/
/media/
.vscode/
.idea/